
<!-- theme_skema/langmenu -->
    {{#languagemenu}}
        <div class="login-languagemenu">
            {{>core/action_menu}}
        </div>
        <div class="divider border-left align-self-center mx-3"></div>
    {{/languagemenu}}
<!-- /theme_skema/langmenu -->
