{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}

<!-- theme_skema/login -->
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid mt-0 {{authmode}}-auth">
        <div id="page-content" class="row">
            <div id="region-main-box-image" class="col-9">
            </div>
            <div id="region-main-box" class="login-box col-3">
                <div id="page-content-head">
                    <div id="login-lang-menu">
                        {{> theme_skema/langmenu }}
                    </div>
                    <div id="login-social-links">
                        <ul class="social pull-right">
                            {{#social}}
                            {{#display}}
                            <li>
                                <a href="{{{url}}}" target="_blank">
                                    {{#alticon}}
                                    <i class="fa {{name}}"><img src="{{alticon}}" /></i>
                                    {{/alticon}}
                                    {{^alticon}}
                                    <i class="fa fa-{{name}}"></i>
                                    {{/alticon}}
                                </a>
                            </li>
                            {{/display}}
                            {{/social}}
                        </ul>
                     </div>
                </div>
                <section id="region-main" class="login p-0 col-12 h-100" aria-label="{{#str}}content{{/str}}">
                <div class="login-wrapper">
                    <div class="login-container">
                    {{{ output.main_content }}}
                    </div>
                    {{#showaltswitch}}
                    <div class="login-alt-switch">
                        <a href="{{{altauthurl}}}">{{#str}}switchauthalt, theme_skema{{/str}}</a>
                    </div>
                    <div class="login-main-switch">
                        <a href="{{{mainauthurl}}}">{{#str}}switchauthmain, theme_skema{{/str}}</a>
                    </div>
                    {{/showaltswitch}}
                </div>
                <div id="accreditations">
                </div>
                </section>
            </div>
        </div>
    </div>
    {{> theme_boost/footer }}
</div>

</body>
</html>
<!-- /theme_skema/login -->
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
